a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #f00;
}
a:hover, a:focus {
    color: #f00;
}
.navbar{
    width:100%;
    border-radius: 0;
    border-width: 0;
    z-index:1030;
    margin:0;
}
.navbar .brand-big {
    display: none;
}
.navbar .brand-small {
    padding: 5px 15px;
}
.navbar-inverse {
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a {
    font-family: Montserrat,'Arial Black',Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color:#ccc;
    /*text-shadow: 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;*/
}
@media (min-width: 768px) {
    .navbar.affix-top .brand-small {
        display: none;
    }
    .navbar.affix-top .brand-big {
        display: block;
        position:absolute;
        max-width: 33%;
    }
    .navbar.affix-top .brand-big img {
        max-width: 100%;
    }
    .navbar.affix-top {
        background: none;
        position: absolute;
        border: none;
        top:79px;
    }
    .navbar .nav {
        float: right;
        margin-right: 0;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
        color: #F00 !important;
        background-color: transparent;
    }
    .navbar-inverse {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .navbar-inverse {
        font-size: 18px;
    }
}
@media (min-width: 1200px) {
    .navbar-inverse {
        font-size: 24px;
    }
}
html, body, .banner {
    height:100%;
}
body {
    position: relative;
}
.banner {
    background-size: cover;
    background-position: center top;
}


.widethumb {
    height: 0;
    padding: 0 0 56%;
    background-size: cover;
    background-position: center;
}
.squarethumb {
    height: 0;
    padding: 0 0 100%;
    background-size: cover;
    background-position: center;
}

.box-list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    text-align: center;
}
.box-list>li {
    width: 100%;
    padding: 0 15px 30px;
    display: inline-block;
    vertical-align: top;
}
.box-list>li figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    background: transparent;
}
.box-list>li figure * {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.box-list-video>li figure {
    background: #c00;
}
.box-list-video>li figure::before {
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", sans-serif;
    content: "\25b6";
    line-height: 70px;
    font-size: 5em;
    background: rgba(255,255,255,0.1);
    width:90px;
    height:90px;
    margin-left:-45px;
    margin-top:-45px;
    left:50%;
    top:50%;
    border-radius:100%;
    display: block;
    position: absolute;
    text-align: center;
    color:#fff;
    opacity:0;
}
.box-list-video>li figure:hover::before {
    opacity:1;
}
.box-list-video>li figure:hover img, .box-list-video>li figure:hover .img {
    -moz-transform: scale(10) rotate(-45deg);
    -webkit-transform: scale(10) rotate(-45deg);
    -o-transform: scale(10) rotate(-45deg);
    -ms-transform: scale(10) rotate(-45deg);
    transform: scale(10) rotate(-45deg);
    opacity:0;
}
.box-list-photo>li figure:hover img, .box-list-photo>li figure:hover .img {
    -moz-transform: scale(1.2) rotate(-3deg);
    -webkit-transform: scale(1.2) rotate(-3deg);
    -o-transform: scale(1.2) rotate(-3deg);
    -ms-transform: scale(1.2) rotate(-3deg);
    transform: scale(1.2) rotate(-3deg);
}
.box-list>li figure>.label {
    position:absolute;
    right: 10px;
    bottom: 10px;
}
.box-list>li figure>figcaption {
    position: absolute;
    background: rgba(0,0,0,0.75);
    color: white;
    opacity: 0;
    bottom: -90px;
    left: 0;
    right: 0;
    padding:15px 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.box-list>li figure:hover>figcaption {
    opacity: 1;
    bottom: 0;
}
@media (min-width: 768px) {
    .box-list-video>li {
        width: 50%;
    }
    .box-list-photo>li {
        width: 33.33333333333333%;
    }
}
@media (min-width: 992px) {
    .box-list-video>li {
        width: 33.33333333333333%;
    }
    .box-list-photo>li {
        width: 25%;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Montserrat,'Arial Black',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}
h1, .h1 {
    font-size: 72px;
}
h2, .h2 {
    font-size: 60px;
}
.page-header {
    padding-top:50px;
}

body>footer {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #fff;
    border-top: 1px solid #eee;
    background: #333;
}

.datebox {
    background: #fff;
    display: block;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 35px;
    text-align: center;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 4px;
    overflow: hidden;
    color: #333;
}
.datebox small {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9px;
    margin-top: 3px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
}
.section {
    padding-bottom: 30px;
}
@media (min-width: 768px) {
    .section {
        min-height:100%;
    }
}
.grey {
    background-color: #f0f0f0;
}


.play-video {
    font-family: "Lucida Sans Unicode", "Arial Unicode MS", sans-serif;
    line-height: 100px;
    font-size: 8em;
    width: 160px;
    height: 160px;
    margin-left: -80px;
    margin-top: -80px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    display: block;
    position: absolute;
    text-align: center;
    color: #fff;
    border: 15px solid #fff;
    opacity: 0.7;
}
.play-video::before {
    content: "\25b6";
    margin: 5px -5px -5px 5px;
    display: block;
}
.play-video:hover {
    color: #f00;
    border-color: #f00;
    text-decoration: none;
    opacity: 1;
}
.banner-bottom {
    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 160px;
    padding: 15px 0;
}
.social-icons {
    margin-top:15px;
}