<div class="row">
  <div class="col-sm-4">
    <h3 class="media-heading">Bookings</h3>
    <div id="emailSent" class="alert alert-success hidden">Email send</div>
    <form role="form" action="http://getsimpleform.com/messages?form_api_token=ee510e56c0373993fbbab9e006eaab76" method="post">
        <div class="form-group">
          <label for="name">Name *</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="tel" class="form-control" name="telephone">
        </div>
      <div class="form-group">
        <label for="message">Details *</label>
        <textarea name="message" rows="5" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger btn-lg">Send Enquiry</button>
        <input type='hidden' name='redirect_to' value='{{ site.url }}{{ page.url }}#sent' />
      </div>
    </form>
  </div>
  <div class="col-sm-4">
  <a class="twitter-timeline" href="https://twitter.com/dminusOz" data-widget-id="490996257066717184">Tweets by @dminusOz</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>

  <div class="col-sm-4">
    <div class="box">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fdminusoz&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=189389074581514" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:500px; width:100%;" allowTransparency="true"></iframe>
    </div>
  </div>
</div>